<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/log-in.css' %}" />
    
</head>

<body>

    <img src="{% static 'assets/LOGO.png' %}" class="logo" />
	<img src="{% static 'assets/WORDMARK.png' %}" class="wordmark" />
    
	<div class="card-content-fields">
		<h1 class="card-content-fields-title">LOG IN</h1>
		
		{% if template_data.error %}
		<div class="alert alert-danger">
			{{ template_data.error }}
		</div>
		{% endif %}

		<form method="POST" action="{% url 'login' %}">
			{% csrf_token %}
			<div class="card-content-fields-col">
				<div class="input-group">
					<p class="input-group-text text">Username</p>
					<input type="text" class="input-group-username" placeholder="Username" name="Username" required />
				</div>

				<div class="input-group">
					<p class="input-group-text text">Password</p>
					<input type="password" class="input-group-username" placeholder="Password" name="Password" required />
				</div>
			</div>
			
			<button type="submit" class="card-content-fields-btn-bottom">SIGN IN</button>
		</form>
	</div>
</body>

</html>