{% extends 'base.html' %}
{% block content %}
<div style="width: 100%; height: 100%; position: relative; background: linear-gradient(151deg, #192887 0%, #6EE3DB 100%); overflow: hidden">
    <div style="width: 736.50px; height: 330.18px; left: -36px; top: 441.32px; position: absolute; outline: 2px rgba(255, 255, 255, 0.30) solid; outline-offset: -1px"></div>
    <div style="width: 1511.50px; height: 979.40px; left: 131px; top: 28.60px; position: absolute; background: radial-gradient(ellipse 112.31% 146.34% at 62.55% 109.29%, #6EE3DB 0%, #192887 100%)"></div>
    <div style="width: 583.50px; height: 646px; left: 849px; top: -136px; position: absolute; background: linear-gradient(31deg, rgba(25, 39.67, 135, 0.73) 0%, rgba(110, 186.05, 227, 0.73) 100%)"></div>
    <div style="width: 596px; height: 488px; left: -27px; top: 462px; position: absolute; background: linear-gradient(38deg, #192887 0%, #6EE3DB 100%), white"></div>
    <div style="width: 1655.50px; height: 1071px; left: -12.50px; top: -72px; position: absolute; background: radial-gradient(ellipse 104.15% 104.15% at 49.98% 53.73%, #6EE3BA 4%, #2A7CA6 51%, #000069 100%)"></div>
    <img style="width: 1454.54px; height: 969.69px; left: 756.22px; top: 173px; position: absolute; transform: rotate(22deg); transform-origin: top left" src="https://placehold.co/1455x970" />
    <img style="width: 1400.33px; height: 933.55px; left: 868.68px; top: 688.68px; position: absolute; transform: rotate(-149deg); transform-origin: top left" src="https://placehold.co/1400x934" />
    <div style="width: 799.55px; height: 61.18px; left: -138.12px; top: 99px; position: absolute; transform: rotate(37deg); transform-origin: top left; background: linear-gradient(90deg, rgba(110.13, 226.80, 164.58, 0.59) 0%, rgba(110.13, 226.80, 219.02, 0) 100%)"></div>
    <div style="width: 437.17px; height: 29.48px; left: -66.23px; top: 77px; position: absolute; transform: rotate(37deg); transform-origin: top left; background: linear-gradient(90deg, rgba(110.13, 226.80, 164.58, 0.59) 0%, rgba(110.13, 226.80, 219.02, 0) 100%)"></div>
    <div style="width: 977.46px; height: 58.15px; left: 1607.52px; top: 999.37px; position: absolute; transform: rotate(-143deg); transform-origin: top left; background: linear-gradient(90deg, rgba(110.13, 226.80, 164.58, 0.59) 0%, rgba(110.13, 226.80, 219.02, 0) 100%)"></div>
    <div style="width: 460.09px; height: 28.03px; left: 1512.45px; top: 796.53px; position: absolute; transform: rotate(-143deg); transform-origin: top left; background: linear-gradient(90deg, rgba(110.13, 226.80, 164.58, 0.59) 0%, rgba(110.13, 226.80, 219.02, 0) 100%)"></div>
    <div style="width: 1512px; height: 982px; left: 0px; top: 0px; position: absolute; background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.07) 50%, rgba(255, 255, 255, 0) 100%); background-blend-mode: linear_dodge"></div>
    <div style="width: 1376.21px; height: 1068px; left: 194px; top: -15.50px; position: absolute; outline: 2px rgba(255, 255, 255, 0.30) solid; outline-offset: -1px"></div>
    <div style="width: 852px; height: 112px; left: 346px; top: -16px; position: absolute; outline: 2px rgba(255, 255, 255, 0.30) solid; outline-offset: -1px"></div>
    <div style="width: 1033px; height: 164px; left: 63px; top: -16px; position: absolute; outline: 2px rgba(255, 255, 255, 0.30) solid; outline-offset: -1px"></div>
    <div style="width: 588.50px; height: 510.10px; left: 1044px; top: 606px; position: absolute; outline: 2px rgba(255, 255, 255, 0.30) solid; outline-offset: -1px"></div>
    <div style="width: 959.50px; height: 415.05px; left: 573px; top: 734.38px; position: absolute; outline: 2px rgba(255, 255, 255, 0.30) solid; outline-offset: -1px"></div>
    <!--Inside box-->
    <div style="width: 480px; height: 600px; left: 516px; top: 191px; position: absolute; background: linear-gradient(180deg, rgba(164.28, 255, 165.79, 0.36) 0%, rgba(255, 255, 255, 0.12) 100%), radial-gradient(ellipse 87.84% 87.84% at 50.00% 50.00%, rgba(27.65, 42.22, 136.94, 0.11) 0%, rgba(12.48, 0, 57.62, 0.45) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, rgba(255, 255, 255, 0.07) 100%); background-blend-mode: linear_dodge, linear_burn, linear_dodge; box-shadow: 0px 4px 5.300000190734863px rgba(25, 39.67, 135, 0.21); border-radius: 25px; border: 2px #49BBF8 solid; backdrop-filter: blur(12.70px)"></div>
    <div style="width: 400px; left: 556px; top: 332px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 26px; display: inline-flex">
        <div style="align-self: stretch; height: 389px; flex-direction: column; justify-content: center; align-items: flex-end; gap: 11px; display: flex">
          <!--LOG IN-->
          <form method="POST">
            <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 64px; font-family: Poppins; font-weight: 700; word-wrap: break-word; text-shadow: 0px 4px 4px rgba(25, 40, 135, 0.27)">LOG IN</div>
            <!--Username-->
              <div style="flex-direction: column; justify-content: center; align-items: flex-start; gap: 2px; display: flex">
                  {% csrf_token %}
                  <p>
                    <label for="username" class="usernameText">Username</label>
                    <input id="username" type="text"
                          name="username" required
                          autocomplete="username"
                          class="form-control">
                  </p>
                  <!-- <div style="justify-content: center; display: flex; flex-direction: column; color: white; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word; text-shadow: 0px 2px 4px rgba(25, 40, 135, 0.27)">Username</div>
                  <div style="width: 400px; height: 45px; background: white; box-shadow: 0px 3px 4.5px rgba(0, 0, 0, 0.37) inset; border-radius: 25px"></div>
                  <div style="width: 99.68px; justify-content: center; display: flex; flex-direction: column; color: rgba(0, 0, 0, 0.34); font-size: 15px; font-family: Poppins; font-style: italic; font-weight: 400; word-wrap: break-word">Username</div> -->
              </div>
            <!--Password-->
              <div style="width: 400px; height: 101px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: flex">
                <p>
                  <label for="password">Password</label>
                  <input id="password" type="password"
                        name="password" required
                        autocomplete="current-password"
                        class="form-control">
                </p>
                <div class="text-center">
                  <button type="submit"
                    class="btn bg-dark text-white">Login
                  </button>
                </div>
                <!-- <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word; text-shadow: 0px 2px 4px rgba(25, 40, 135, 0.27)">Password</div>
                <div style="width: 400px; height: 45px; background: white; box-shadow: 0px 3px 4.5px rgba(0, 0, 0, 0.37) inset; border-radius: 25px"></div>
                <div style="width: 178.91px; justify-content: center; display: flex; flex-direction: column; color: rgba(0, 0, 0, 0.34); font-size: 15px; font-family: Poppins; font-style: italic; font-weight: 400; word-wrap: break-word">Password</div>
                <img style="width: 19.22px; height: 19.22px" src="https://placehold.co/19x19" />
                <div style="align-self: stretch; height: 30px; text-align: right; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Forgot password?</div> -->
            </div>
            <div style="padding-top: 15px; padding-bottom: 15px; flex-direction: column; justify-content: center; align-items: flex-end; gap: 10px; display: flex">
                <div style="width: 105px; height: 47px; background: linear-gradient(180deg, #A0FBB6 0%, #4AD3B3 100%), linear-gradient(270deg, #AC2A7A 0%, #C33E90 50%, #AC2A7A 100%); box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25) inset; border-radius: 25px"></div>
                <div style="width: 110px; height: 101px; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #264586; font-size: 16px; font-family: Katahdin Round; font-weight: 400; word-wrap: break-word">SIGN IN</div>
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock content %}