body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins';
	line-height: normal;
	letter-spacing: 0px;
	background-image: url("../assets/BACKGROUND.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	padding: 24px;
	box-sizing: border-box;
	overflow: hidden;
}

.logo {
	position: fixed; top: 20px; left: 25px; 
	width: 40px;
	aspect-ratio: 1 / 1;
	z-index: 9002;
}

.wordmark {
	position: fixed; top: 23px; left: 78px; 
	width: 120px;
	aspect-ratio: 3.5 / 1;
	z-index: 9003;
}

.column {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-content-fields {
	position: relative; z-index: 1;
	backdrop-filter: blur(5px);
	box-shadow: 0px 4px 5.3px 0px rgba(25, 40, 135, 0.21);
	width: 100%;
	max-width: 480px;
	display: flex;
	flex-direction: column;
	align-items: stretch; 
	justify-content: center;
	gap: 11px;
	flex-grow: 1;
	background: linear-gradient(180deg, rgba(126, 246, 238, 0.527) 0%, rgba(255, 255, 255, 0) 100%), 
	radial-gradient(
		88% 88% at 50% 50%, 
		rgba(28, 42, 137, 0) 0%, #00083f58 100%
	);
	background-blend-mode: screen;
	padding: 60px 68px;
	border: 2px solid #49bbf8;
	border-radius: 25px;
	max-height: calc(100vh - 48px);
	overflow: auto;
}

.card-content-fields-title {
	text-shadow: 0px 4px 4px rgba(25, 40, 135, 0.27);
	margin-top: 14px;
	align-self: stretch;
	color: #fff;
	font-weight: 700;
}

p {
	margin: 0;
	margin-bottom: 8px;
}

.input-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 0px;
	flex-shrink: 0;
}

.input-group-text {
	text-shadow: 0px 2px 4px rgba(25, 40, 135, 0.27);
	color: #fff;
}

.input-group-username {
	box-shadow: inset 0px 3px 4.5px 0px rgba(0, 0, 0, 0.37);
	width: 100%;
	max-width: 500px;
	color: rgba(0, 0, 0, 0.34);
	font-size: 15px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0px;
	text-align: left;
	padding: 12px 30px 10px 30px;
	box-sizing: border-box;
	border-radius: 25px;
	border-width: 2px;
	border-color: #1997db;
	margin-bottom: 1em;
}

.card-content-fields-col {
	width: 100%;
	max-width: none;
	margin: 0;
	/* padding-inline: 40px; HERE */
	box-sizing: border-box;
}

.card-content-fields-text-top {
	text-shadow: 0px 2px 4px rgba(25, 40, 135, 0.27);
}

.card-content-fields-row {
	box-shadow: inset 0px 3px 4.5px 0px rgba(0, 0, 0, 0.37);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: rgba(0, 0, 0, 0.34);
	font-style: italic;
	background-color: #fff;
	padding: 11px 19px 11px 22px;
	border-radius: 25px;
	border-width: 2px;
	border-color: #1997db;
}

.card-content-fields-img {
	margin-top: 3px;
	width: 19px;
	flex-shrink: 0;
}

.card-content-fields-text-bottom {
	min-height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-shrink: 0;
	text-align: right;
}

.card-content-fields-btn-bottom {
	box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
	margin-top: 24px;
	min-height: 47px;
	flex-shrink: 0;
	color: #264586;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	letter-spacing: 0px;
	text-align: center;
	align-self: flex-end;
	margin-left: auto;
	background: linear-gradient(180deg, #a0fbb6 0%, #4ad3b3 100%) top left / auto auto no-repeat;
	padding: 2px 18px 0 22px;
	border-radius: 25px;
	border-width: 2px;
	border-color: #1997db;
}

.card-content-fields-btn-bottom:hover {
    filter: brightness(1.2);
    transition: filter 0.2s;
}

/** breakpoints (margin / paddings) **/

@media screen and (max-width: 576px) {
	body {
		padding-inline: var(--margin-sm);
	}
	.card-content-fields {
		padding-inline: var(--margin-md);
	}
	.input-group-username {
		padding-inline: var(--margin-sm);
	}
	.card-content-fields-row {
		padding-inline: var(--margin-sm);
	}
}

@media screen and (max-width: 480px) {
	.card-content-fields {
		padding-inline: var(--margin-sm);
	}
}
