<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
	<link rel="stylesheet" href="{% static 'css/global.css' %}" />
	<link rel="stylesheet" href="{% static 'css/patient-dashboard.css' %}" />

</head>

<body>
	
	<img src="{% static 'assets/NAVBAR.png' %}" class="nav-bar" />
	<img src="{% static 'assets/LOGO.png' %}" class="logo" />
	<img src="{% static 'assets/WORDMARK.png' %}" class="wordmark" />

	<div class="row1">
		<p class="text">Dashboard</p>
		<p class="text">Messages</p>
		<a class="text" href="{% url 'patient_appointments' %}">Appointments</a>
		<p class="text">Profile</p>
	</div>
	
	<div class="row2">
		<div class="card-left">
			<a class="card-left-link-edit-profile" href="#">Profile</a>
			
			<div class="card-left-col-bottom">
				<h2 class="card-left-subtitle">Welcome, </h2>
				<h1 class="card-left-title">{{template_data.firstname}} {{template_data.lastname}}!</h1>
				<p class="card-left-text-bottom">
					Date of Birth: {{template_data.dob}}<br>
					Gender: {{template_data.gender}}<br>
					Address: {{template_data.address}}<br>
					City: {{template_data.city}}<br>
					State: {{template_data.state}}<br>
					Zip Code: {{template_data.zip}}<br>
					Phone number: {{template_data.phone}}<br>
					Emergency contact: {{template_data.er_contact}}<br>
					Emergency phone number: {{template_data.er_phone}}<br>
					Marital status: {{template_data.marital}}<br>
					Race: {{template_data.race_ethnicity}}<br>
					Insurance provider: {{template_data.insurance_provider}}<br>
					Insurance policy number: {{template_data.policy_number}}<br>
					Healthcare providers:
					<ul>
					{% for provider in template_data.healthcare_providers %}
						<li>{{ provider }}</li>
					{% endfor %}
					</ul><br>
				</p>
			</div>
		</div>
		
		<div class="msgs-appts">
			<div class="msgs-appts-box">
				<div class="msgs-appts-glass-box"></div>
				<object data="{% static 'assets/msgs-appts-arrow-up.svg' %}" class="msgs-appts-arrow-up-right msgs-appts-arrow-up1" type="image/svg+xml"></object>
				<h2 class="msgs-appts-subtitle-messages">Messages</h2>
			</div>
			
			<div class="msgs-appts-group">
				<object data="{% static 'assets/msgs-appts-arrow-up.svg' %}" class="msgs-appts-arrow-up-right msgs-appts-arrow-up2" type="image/svg+xml"></object>
				
				<h2 class="msgs-appts-subtitle-your-appointments">Your Appointments</h2>
				<ul>
					{% for appointment in template_data.appointments %}
						<li>
						{{ appointment.date }}: {{appointment.hcp.firstname}} {{appointment.hcp.lastname}} - {{ appointment.notes }}
						</li>
					{% empty %}
						<li>No appointments found.</li>
					{% endfor %}
			</div>
		</div>
	</div>

</body>

</html>